* {
  box-sizing: border-box;
}


}

/*class that will increase the font size to 24 pixels*/
.large-font {
  font-size: 24px;
}


/*changes font style for header 1 & header 2 to the font Comic Sans MS and uses serif as a fallback font is Comic Sans MS is unavailable*/
h1, h2 {
  font-family: "Comic Sans MS", serif;
}

/*changes font style for paragraphs, unordered list, & ordered list to the font Comic Sans MS and uses serif as a fallback font if Cominc Sans is unavailable*/
p, ul, ol {
  font-family: -apple-system, sans-serif
}

/*specific class that will center text*/
.text-centered {
  text-align: center;
}

/*color used for the background of the website*/
.lightdark {
  background-color: #9accc865;
}

/*background color and border for header container and footer container*/
.dark {
  background-color: #a3a3a3;
  color: rgba(0, 0, 0, 0.76);
  border: #000000 solid 1px
}

/*adjusts the header container's margin and rounds the corners. */
.header {
  margin-top: 20px;
  margin-bottom: 20px; 
  margin-left: 50px;
  margin-right: 50px;
  padding: -60px;
  border-radius: 30px;
}

/*rounds corners*/
.roundimage {
  border-radius: 15px;
}

/*Horizontal rulers that would normally be a straight line through the page will now be in the shape of a diamond */
hr {
height: 10px;
width: 10px;
border: #000000 solid 5px;
background-color: #000000;
transform: rotate(45deg);
}

a:link {color: green} /*links will be green*/
a:visited {color: rgb(211, 31, 211)} /*visited links will be magenta*/
a:hover {color: rgb(5, 206, 5)} /*links hovered over with the cursor will turn light green*/
a:active {color: purple} /*links when clicked will be purple*/